<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HopOn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECFBD5A91D5425AD001B0757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFBD5BD1D5425AD001B0757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFBD5C81D5425AD001B0757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
